@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absoluteCenter {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  @keyframes scale-up {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .animate-scale {
    animation: scale-up 0.5s ease-in-out forwards;
  }

  .animate-scale-down {
    animation: scale-up 0.5s ease-in-out reverse forwards;
  }
}
